.gallery {
  margin: 50px auto;
}

.mainImg {
  margin-bottom: 30px;
}

.mainImg > img {
  width: 1200px;
  height: 800px;
}

.bottomWrapper {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnailsWrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.prev,
.next {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.prev {
  border-left: 5px solid #ccc;
  border-top: 5px solid #ccc;
  transform: rotate(-45deg);
}

.next {
  border-right: 5px solid #ccc;
  border-top: 5px solid #ccc;
  transform: rotate(45deg);
}

.prev:hover,
.next:hover {
  border-color: gold;
  cursor: pointer;
}

.thumbnailWrapper {
  width: 120px;
  height: 80px;
  margin: 10px;
  border: 3px solid #ccc;
  overflow: hidden;
  flex-shrink: 0;
  transition: all .2s;
}

.thumbnailWrapper:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.thumbnailWrapper img {
  object-fit: cover;
  width: 120px;
  height: 80px;
}

.active {
  border-color: gold;
}