@import @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
a:not(.back) {
  width: 200px;
  height: 50px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  outline: none;
  border: none;
  box-shadow: 0 2px 5px 1px #ccc;
  cursor: pointer;
  transition: all .2s;
}

a:not(.back) {
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

a:not(.back):hover,
button:hover {
  background-color: #f1f1f1;
}

a:not(.back):active,
button:active {
  position: relative;
  top: 2px;
  box-shadow: 0 0 2px 1px #ccc;
}

.questionGlobal {
  color: #4197fa;
  box-shadow: 0 1px 3px 1px #4197fa;
}

.questionGlobal:hover {
  background-color: #4197fa;
  color: #fff;
}

.bodyQuestion {
  justify-content: flex-start;
  font-size: 18px;
}

main {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}

a.back {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 650px;
  text-decoration: none;
  color: #999;
}

p {
  margin-bottom: 15px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

pre {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.red {
  color: red;
}

.blue {
  color: #4197fa;
}

img {
  width: 800px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 1px #888;
  transition: all .3s;
}

img:hover {
  transform: scale(1.5);
}