* {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 100;
}

.canvasHeader {
  background-color: #333;
  margin-bottom: 30px;
}

#canv {
  width: 1000px;
  height: 700px;
  border: 1px solid #bbb;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#app {
  flex-wrap: nowrap;
  justify-content: center;
}

.tools {
  min-width: 100px;
  height: 700px;
  padding: 20px 20px;
  border: 1px solid #777;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #333 url(../img/bg.png);
  color: #fff;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

button,
.button {
  display: block;
  width: 80px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  text-decoration: none;
  color: #555;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
  font-size: 12px;
  line-height: 30px;
}

input {
  border: none;
  outline: none;
  vertical-align: middle;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type='range'] {
  width: 80px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.jscolor {
  width: 80px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.coordinates {
  margin-top: 30px;
  text-align: left;
  color: rgba(255, 255, 255, .2);
}

button {
  background-color: rgba(255, 255, 255, .1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 27%;
}

button:hover,
a.button:hover {
  background-color: rgba(255, 255, 255, .2);
}

button:active,
a.button:active {
  background-color: rgba(182, 127, 45, 0.692);
}

a.button {
  background: rgba(255, 255, 255, .1) url(../img/save.png) no-repeat center center;
  background-size: 27%;
}

.pencil {
  background-image: url(../img/pencil2.png);
}

.brush {
  background-image: url(../img/brush2.png);
}

.circles {
  background-image: url(../img/circle2.png);
}

.spray {
  background-image: url(../img/spray2.png);
  background-size: 15%;
}

.clear {
  color: rgba(255, 255, 255, .7);
}

.activeTool {
  background-color: rgba(182, 127, 45, 0.692);
}

